*{margin: 0;padding: 0;font-family: Verdana;}
a:active, a:focus{outline:none;}
textarea {overflow-y: auto;}
input, button {border: 0;}
button {cursor: pointer;}
.clear {clear: both;}
* {
  margin: 0px;
  font-family:Arial,sans-serif;
  /*color: #4B4B4B;*/
  /*font-size:12px;*/
}
body {
  background: #282828;
}
#wrapper {
  width: 740px;
  margin: 0 auto;
}