*{margin: 0;padding: 0}
a:active, a:focus{outline:none;}
textarea {overflow-y: auto;}
input, button {border: 0;}
.clear {clear: both;}
* {
  margin: 0px;
  font-family:Arial,sans-serif;
  /*color: #4B4B4B;*/
  /*font-size:12px;*/
}
body {
  background: rgb(105,200,202);
}
#wrapper {
  width: 990px;
  margin: 20px auto;
}
#content {
  width: 980px;
  margin-top: 30px;
  position: relative;
}
img#logo{
  position: absolute;
  top: -15px;
  left: 10px;
  z-index: 99;
}
#menu {
  position: absolute;
  right: 0px;
}
#play_bg {
  background: url(/images/playground_home_bg.png) no-repeat 10px 0;
  position: absolute;
  top: 42px;
  width: 980px;
  height: 568px;
  z-index: 1;
  overflow: hidden;
}
#playground {
  position: relative;
  top: 30px;
  width: 980px;
  height: 598px;
  z-index: 2;
  background: url(/images/playground_border.png) no-repeat;
  overflow: hidden;
}

/*signin, signup*/
#loginbox {
  width: 366px;
  height: 404px;
  background: url(/images/login_bg.png);
}
#signupbox {
  width: 536px;
  height: 484px;
  background: url(/images/signup_bg.png);
}
#forgotpwdbox {
  width: 366px;
  height: 404px;
  background: url(/images/forgot_pwd_bg.png);
}
#forgotpwdbox_inner {
  position: relative;
  top: 196px;
  left: 58px;
}
#pwd_email_input {
  width: 256px;
  height: 40px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background: transparent;
}
.loginbox_inner {
  position: relative;
  top: 159px;
  left: 50px;
}
.login_name {
  position: absolute;
  top: 17px;
  left: 1px;
  height: 36px;
  width: 160px;
  background: transparent;
  font-size: 18px;
  color: green;
  font-weight: bold;
}
.login_password {
  position: absolute;
  left: 1px;
  top: 81px;
  height: 36px;
  width: 160px;
  background: transparent;
  font-size: 18px;
  color: green;
  font-weight: bold;
}
.signup_big {
  position: absolute;
  top: 21px;
  left: 214px;
  width: 76px;
  height: 29px;
  background: url(/images/signup.png) no-repeat left top;
  cursor: pointer;
}
.signin_big {
  position: absolute;
  top: 130px;
  left: 157px;
  width: 134px;
  height: 56px;
  background: url(/images/signin.png) no-repeat left top;
  cursor: pointer;
}
.forgotpwd_big {
  position: absolute;
  top: 85px;
  left: 214px;
  width: 76px;
  height: 29px;
  background: url(/images/forgot_pwd.png) no-repeat left top;
  cursor: pointer;
}
#get_pwd_btn {
  position: relative;
  background: url(/images/signup_btn.png) no-repeat left top;
  width: 69px;
  height: 29px;
  top: 34px;
  left: 110px;
  cursor: pointer;
}

.signupbox_inner {
  position: relative;
  top: 66px;
  left: 258px;
}
.signup_input_text {
  width: 130px;
  height: 26px;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.signup_name {
  position: relative;
  top: 18px;
  left: 0;
}
.signup_email {
  position: relative;
  top: 1px;
  left: 0;
}
.signup_password {
  position: relative;
  top: 83px;
  left: 0px;
}
.signup_password_confirmation {
  position: relative;
  top: 100px;
  left: 0;
}
.signup_nature {
  position: relative;
  top: 54px;
  left: 0;
  margin-left: 10px;
}
.signup_nature option {
  height: 30px;
}
select.signup_nature {
  height: 30px;
  width: 130px;
}
.signup_sex {
  position: relative;
  top: 39px;
  left: 27px;
}
.signup_sex img {
  cursor: pointer;
}
#sex_checkbox2 {
  margin-left: 52px;
}
#sex_check_icon1 {
  margin-left: 0;
  margin-top: -10px;
}
#sex_check_icon2 {
  margin-left: 74px;
  margin-top: -10px;
}
#signup_submit {
  position: relative;
  background: url(/images/signup_btn.png) no-repeat left top;
  width: 69px;
  height: 29px;
  top: 150px;
  left: 30px;
  cursor: pointer;
}
#nature_dropdown {
  width: 141px;
  height: 90px;
  /*border-bottom: 1px solid black;*/
  background: url(/images/nature_bg.png);
  position: absolute;
  top: 122px;
  left: -4px;
  z-index: 11;
}
#nature_dropdown_inner {
  margin-top: 20px;
  margin-left: 16px;
}
p.nature_txt {
  font-size: 14px;
  color: white;
  font-weight: bold;
  display: block;
  cursor: pointer;
  line-height: 20px;
  letter-spacing: 6px;
}


/*lobby left*/
#lobby {
  width: 876px;
  height: 448px;
}
.lobby_left {
  float: left;
  width: 240px;
  height: 422px;
  margin-top: 26px;
  background: url(/images/lobby_left_bg.png) no-repeat left bottom;
}
.lobby_left_notice {
  float: left;
  width: 330px;
  height: 442px;
  margin-top: 26px;
  background: url(/images/notice_bg.png) no-repeat left bottom;
}
.lobby_right {
  float: right;
  width: 526px;
  height: 448px;
  background: url(/images/lobby_list_bg.png) no-repeat;
}
.lobby_left_menu {
  width: 240px;
  height: 41px;
  margin-left: 10px;
  z-index: 5;
}
.lobby_left_menu button {
  display: block;
  float: left;
  width: 97px;
  height: 41px;
  cursor: pointer;
}
.lobby_left_menu button.member_btn {
  background: url(/images/member_info_1.png);
}
.lobby_left_menu button.friends_btn {
  background: url(/images/friends_1.png);
}
.lobby_left_content {
  width: 216px;
  height: 388px;
}
.member_detail {
  background: url(/images/member_info_detail_bg.png) no-repeat left top;
  width: 216px;
  height: 249px;
  margin-left: 12px;
  margin-top: 8px;
}
.friends_list {
  background: url(/images/friends_list_bg.png) no-repeat left top;
  width: 216px;
  height: 293px;
  margin-left: 12px;
  margin-top: 8px;
}
#member_info_inner {
  position: relative;
  top: 18px;
  left: 60px
}
#member_info_inner #member_detail_name {
  position: relative;
  top: 0;
  left: 0;
}
#member_info_inner #member_detail_sex {
  position: relative;
  top: 29px;
  left: 0;
}
#member_info_inner #member_detail_level {
  position: relative;
  top: 54px;
  left: 0;
}
#member_info_inner #member_detail_nature {
  position: relative;
  top: 79px;
  left: 0;
}
#member_info_inner #member_detail_arch {
  position: relative;
  top: 106px;
  left: 0;
}

/*lobby list*/
#lobby_list{
  margin-left: 37px;
  margin-top: 69px;
}
.one_lobby {
  width: 222px;
  height: 70px;
  float: left;
  margin: 2px;
  background: url(/images/zone_bg.png) no-repeat left top;
  line-height: 70px;
  color: white;
  cursor: pointer;
}
.one_lobby .one_lobby_inner {
  margin-left: 20px;
}

/*select role*/
#lobby_role {
  position: absolute;
  top: 364px;
  left: -10px;
  height: 87px;
  width: 258px;
}
#lobby_role_left {
  width: 98px;
  height: 87px;
  position: absolute;
}
#lobby_role_right {
  width: 160px;
  height: 42px;
  margin-top: 30px;
  margin-left: 60px;
  position: absolute;
}
.select_role_btn {
  width: 160px;
  height: 42px;
  cursor: pointer;
  background: url(/images/select_role_btn.png) no-repeat left top;
}
.current_role {
  width: 98px;
  height: 87px;
  background: url(/images/role_bg.png);
  text-align:center;
}

/*friend list*/
#friends_list_inner {
  position: relative;
  top: 6px;
  left: 9px;
  height: 252px;
  overflow: hidden;
}
#friends_list_inner_con {
  overflow: hidden;
  margin-top: 0px;
}
.one_friend {
  width: 201px;
  height: 40px;
  line-height: 40px;
  color: rgb(193,186,88);
  margin: 2px 0;
  cursor: pointer;
}
.friend_online {
  background: url(/images/friend_bg.png) no-repeat left top;
}
.friend_selected {
  background: url(/images/friend_bg.png) no-repeat left center;
}
.friend_offline {
  background: url(/images/friend_bg.png) no-repeat left bottom;
}
.friend_sex {
  margin-left: 15px;
}
.friend_status {
  margin-left: 10px;
}
.friend_name {
  margin-left: 10px;
}
.friend_list_scroll {
  width: 110px;
  position: absolute;
  top: 333px;
  left: 108px;
}
.friend_scroll_up {
  width: 52px;
  height: 27px;
  background: url(/images/up.png) no-repeat left top;
  cursor: pointer;
}
.friend_scroll_down {
  width: 52px;
  height: 27px;
  background: url(/images/down.png) no-repeat left top;
  cursor: pointer;
}

/*friend drop down menu*/
.friend_drop_down {
  width: 70px;
  background: rgb(134,97,30);
  position: absolute;
  left: 220px;
  z-index: 20;
}
.friend_drop_down a {
  display: block;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(193,186,88);
  border: 2px solid black;
}
.friend_drop_down a:hover {
  font-weight: bold;
}

/*character select*/
#char_select_box {
  width: 499px;
  height: 486px;
  position: absolute;
  background: url(/images/char_view_bg.png);
  z-index: 12;
}
#char_big_icon {
  position: absolute;
  top: 58px;
  left: 23px;
  width: 160px;
  height: 148px;
  text-align: center;
}
#char_detail {
  position: absolute;
  top: 80px;
  left: 220px;
}
#char_detail p {
  line-height: 18px;
  color: #eee;
}
#char_list {
  position: absolute;
  top: 250px;
  left: 10px;
  padding: 10px;
}
#char_list ul {
  list-style: none;
}
#char_list ul li {
  float: left;
  margin: 3px;
}
.char_bg {
  width: 85px;
  height: 65px;
  background: url(/images/char_bg.png) no-repeat left top;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
}
img.small_char_icon {
  height: 49px;
  margin-top: 8px;
}
img.current_char_icon {
  height: 80px;
}
img.game_self_char_icon {
  height: 98px;
  position: relative;
  top: -18px;
}
img.game_other_char_icon {
  height: 66px;
  position: relative;
  top: -7px;
}
.char_select_btn {
  position: absolute;
  top: 430px;
  left: 198px;
  width: 81px;
  height: 30px;
  cursor: pointer;
  background: url(/images/char_selected_btn.png) no-repeat left top;
}

/*room list*/
#room {
  width: 876px;
  height: 503px;
}
.room_right {
  float: right;
  width: 636px;
  height: 503px;
  background: url(/images/room_list_bg.png);
  margin-right: 0px;
  margin-top: -18px;
}
#room_list {
  margin-left: 36px;
  margin-top: 14px;
  height: 330px;
  width: 560px;
  overflow: hidden;
}
.one_room {
  width: 280px;
  height: 106px;
  background: url(/images/room_bg.png) no-repeat left top;
  float: left;
  margin-bottom: 6px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.one_room .room_no {
  position: absolute;
  top: 18px;
  left: 40px;
  color: white;
}
.one_room .room_name {
  position: absolute;
  top: 18px;
  left: 180px;
  color: white;
}
.one_room .room_sex {
  position: absolute;
  top: 18px;
  left: 238px;
}
.one_room .room_icon {
  position: absolute;
  top: 46px;
  left: 16px;
}
.one_room .room_status {
  position: absolute;
  top: 56px;
  left: 80px;
}
.one_room .room_current_player_no {
  position: absolute;
  top: 60px;
  left: 190px;
}
.one_room .room_slash {
  position: absolute;
  top: 60px;
  left: 210px;
}
.one_room .room_total_player_no {
  position: absolute;
  top: 60px;
  left: 230px;
}
button.back_to_lobby {
  width: 69px;
  height: 29px;
  background: url(/images/back_to_lobby.png) no-repeat left top;
  cursor: pointer;
}
.back_to_lobby1 {
  margin-top: 26px;
  margin-left: 28px;
}
button.create_room {
  width: 134px;
  height: 56px;
  background: url(/images/create_room_bg.png) no-repeat left top;
  cursor: pointer;
}
.create_room1 {
  margin-top: 20px;
  margin-left: 28px;
}
button.quick_join {
  width: 134px;
  height: 56px;
  background: url(/images/quick_join_bg.png) no-repeat left top;
  cursor: pointer;
}
.quick_join1 {
  margin-top: 20px;
  margin-left: 28px;
}
#room_scroll {
  position: absolute;
  margin-left: 438px;
  margin-top: 8px;
  width: 158px;
  height: 52px;
}
button#room_scroll_left {
  width: 77px;
  height: 52px;
  background: url(/images/room_up.png) no-repeat left top;
  cursor: pointer;
}
button#room_scroll_right {
  float: right;
  width: 77px;
  height: 52px;
  background: url(/images/room_down.png) no-repeat left top;
  cursor: pointer;
}

/*new room*/
#new_room {
  width: 487px;
  height: 250px;
  background: url(/images/createroom_bg.png) no-repeat;
  z-index: 21;
}
#new_room_inner {
  position: relative;
}
#new_room input#input_room_name {
  height: 30px;
  width: 314px;
  line-height: 30px;
  font-weight: bold;
  font-size: 16px;
  color: rgb(58,41,5);
  position: absolute;
  top: 77px;
  left: 132px;
  text-align: center;
  background: transparent;
}
#new_room button.new_room_btn {
  position: absolute;
  top: 170px;
  left: 326px;
  width: 134px;
  height: 56px;
  cursor: pointer;
  background: url(/images/new_room_btn.png) no-repeat left top;
}
#new_room button.new_room_cancel_btn {
  position: absolute;
  top: 170px;
  left: 168px;
  width: 134px;
  height: 56px;
  cursor: pointer;
  background: url(/images/new_room_cancel_btn.png) no-repeat left top;
}

/*game*/
#game {
  width: 938px;
  height: 554px;
}
#game_menu {
  position: absolute;
  /*top: 370px;*/
  top: 522px;
  left: 0px;
  width: 30px;
  text-align: center;
}
#game_menu button.game_menu_btn {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: 2px auto;
}
#game_menu button#game_menu_member_info {
  background: url(/images/game/game_menu_member.png);
}
#game_menu button#game_menu_friends {
  background: url(/images/game/game_menu_friends.png);
}
#game_menu button#game_menu_message {
  background: url(/images/game/game_menu_message.png);
}
#game_menu button#game_menu_arch {
  background: url(/images/game/game_menu_arch.png);
}
#game_menu button#game_menu_config {
  background: url(/images/game/game_menu_config.png);
}
#game_menu button#game_menu_quit {
  background: url(/images/game/game_menu_quit.png);
}
#score_board {
  position: absolute;
  top: 8px;
  left: 694px;
  width: 238px;
  height: 172px;
  background: url(/images/game/score_board_bg.png);
}
#message_board {
  position: absolute;
  top: 344px;
  left: 689px;
  width: 244px;
  height: 206px;
  font-size: 12px;
  background: url(/images/game/message_board_bg.png);
  overflow-x: hidden;
  overflow-y: auto;
}
#notice_board {
  position: relative;
  top: 28px;
  left: 0px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
}
#player_self_pos {
  position: absolute;
  width: 400px;
  top: 400px;
  left: 142px;
}
#player_2_pos {
  position: absolute;
  width: 400px;
  top: 190px;
  left: 0px;
}
#player_3_pos {
  position: absolute;
  width: 400px;
  top: 25px;
  left: 340px;
}
#player_4_pos {
  position: absolute;
  width: 400px;
  top: 190px;
  left: 654px;
}

#player_role_bg_big {
  position: absolute;
  top: 66px;
  left: 0px;
  text-align: center;
}
.player_role_bg_big{
  background: url(/images/game/role_bg_big.png) no-repeat left top;
  width: 98px;
  height: 87px;
}
.player_role_bg_small{
  background: url(/images/game/role_bg_small.png) no-repeat left top;
  width: 74px;
  height: 65px;
  text-align: center;
}
#emotion_btn {
  position: absolute;
  top: 88px;
  left: 106px;
  background: url(/images/game/emotion_btn.png) no-repeat left top;
  width: 72px;
  height: 26px;
  cursor: pointer;
}
#skill_btn {
  position: absolute;
  top: 96px;
  left: 110px;
  background: url(/images/game/skill_btn.png) no-repeat left top;
  width: 72px;
  height: 26px;
  cursor: pointer;
}
#enter_prepare {
  position: absolute;
  top: 388px;
  left: 358px;
  cursor: pointer;
  width: 78px;
  height: 32px;
  background: url(/images/game/status_ready_btn.png) no-repeat left top;
}
#game_start {
  position: absolute;
  top: 388px;
  left: 358px;
  cursor: pointer;
  width: 78px;
  height: 32px;
  background: url(/images/game/game_start_btn.png) no-repeat left top;
}
#show_card {
  position: absolute;
  top: 388px;
  left: 464px;
  background: url(/images/game/show_card.png) no-repeat left top;
  cursor: pointer;
  width: 78px;
  height: 32px;
}

/*player poison points*/
.poisons_points {
  width: 99px;
  height: 24px;
  background: url(/images/game/poison_points_bg.png);
}
#player_self_pos_poison_points {
  position: absolute;
  top: 120px;
  left: 106px;
}
#player_2_pos_poison_points {
  position: absolute;
  top: 70px;
  left: 2px;
}
#player_3_pos_poison_points {
  position: absolute;
  top: 70px;
  left: 2px;
}
#player_4_pos_poison_points {
  position: absolute;
  top: 70px;
  left: 2px;
}
.blue_points {
  position: absolute;
  top: 5px;
  left: 7px;
  font-size: 12px;
  font-weight: bold;
  color: #4d4d4d;
}
.purple_points {
  position: absolute;
  top: 5px;
  left: 32px;
  font-size: 12px;
  font-weight: bold;
  color: #4d4d4d;
}
.red_points {
  position: absolute;
  top: 5px;
  left: 57px;
  font-size: 12px;
  font-weight: bold;
  color: #4d4d4d;
}
.green_points {
  position: absolute;
  top: 5px;
  left: 83px;
  font-size: 12px;
  font-weight: bold;
  color: #4d4d4d;
}

.card {
  position: absolute;
}
.card_big {
  width: 75px;
  height: 101px;
  cursor: pointer;
}
.card_small {
  width: 53px;
  height: 72px;
}

.bucket {
  width: 86px;
  height: 47px;
  cursor: pointer;
}
#bucket_red {
  background: url(/images/game/crucible_red_2.png) no-repeat left top;
  position: absolute;
  top: 140px;
  left: 270px;
}
#bucket_purple {
  background: url(/images/game/crucible_purple_2.png) no-repeat left top;
  position: absolute;
  top: 330px;
  left: 270px;
}
#bucket_blue {
  background: url(/images/game/crucible_blue_2.png) no-repeat left top;
  position: absolute;
  top: 230px;
  left: 270px;
}
.bucket_cards {
  width: 120px;
  height: 72px;
}
#bucket_red_cards {
  position: absolute;
  top: 128px;
  left: 362px;
}
#bucket_blue_cards {
  position: absolute;
  top: 216px;
  left: 362px;
}
#bucket_purple_cards {
  position: absolute;
  top: 306px;
  left: 362px;
}

/*round points board*/
#round_points_board {
  width: 524px;
  height: 385px;
  position: absolute;
  background: url(/images/game/round_points_bg_2.png);
  z-index: 10;
}
#round_points_board_close {
  width: 102px;
  height: 47px;
  background: url(/images/game/round_points_close_bg.png) no-repeat left top;
  position: relative;
  top: 10px;
  left: 405px;
  cursor: pointer;
}
#final_result_btn {
  width: 102px;
  height: 47px;
  background: url(/images/game/final_points_btn.png) no-repeat left top;
  position: relative;
  top: 10px;
  left: 405px;
  cursor: pointer;
}
#round_points_inner {
  position: relative;
  top: 18px;
  left: 0px;
}
h3#round_title {
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#round_points_inner table#round_points_inner_t {
  color: #eee;
  font-size: 14px;
}
#round_points_inner table#round_points_inner_t td {
  padding: 0px;
}

/*final result box*/
#final_points_board {
  width: 524px;
  height: 385px;
  position: absolute;
  background: url(/images/game/round_points_bg_2.png);
  z-index: 10;
}
h3#final_result_title {
  color: #eee;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#final_points_inner {
  position: relative;
  top: 18px;
  left: 0px;
}
#continue_game_btn {
  width: 130px;
  height: 47px;
  background: url(/images/game/continue_game_btn.png) no-repeat left top;
  position: relative;
  top: 10px;
  left: 105px;
  cursor: pointer;
}
#back_to_zone_btn {
  width: 130px;
  height: 47px;
  background: url(/images/game/to_lobby_btn.png) no-repeat left top;
  position: relative;
  top: 10px;
  left: 145px;
  cursor: pointer;
}
#final_points_inner table#final_points_inner_t {
  color: #eee;
  font-size: 14px;
}
#final_points_inner table#final_points_inner_t td {
  padding: 0px;
}

.countdown {
  position: absolute;
  width: 56px;
  height: 34px;
}
#player_self_pos_countdown {
  top: 490px;
  left: 85px;
}
#player_2_pos_countdown {
  top: 292px;
  left: 14px;
}
#player_3_pos_countdown {
  top: 45px;
  left: 280px;
}
#player_4_pos_countdown {
  top: 292px;
  left: 670px;
}