<div id="game" style="display: none;">
  <div id="game_menu">
    <button id="game_menu_member_info" class="game_menu_btn"></button>
    <button id="game_menu_friends" class="game_menu_btn"></button>
    <button id="game_menu_message" class="game_menu_btn"></button>
    <button id="game_menu_arch" class="game_menu_btn"></button>
    <button id="game_menu_config" class="game_menu_btn"></button>
    <button id="game_menu_quit" class="game_menu_btn"></button>
  </div>
  <div id="score_board"></div>
  <div id="message_board"></div>

  <div id="player_self_pos">
    <div class="player_role_bg_big" id="player_role_bg_big">
      <!-- role icon -->
    </div>
    <button id="emotion_btn"></button>
    <button id="skill_btn"></button>
    <div class="poisons_points">
      <!-- poisons points -->
    </div>
  </div>
  <div id="player_2_pos"></div>
  <div id="player_3_pos"></div>
  <div id="player_4_pos"></div>

  <button id="enter_prepare">准备</button>
  <button id="game_start" style="display: none;">开始</button>
  <button id="show_card"></button>
  <!--buckets-->
  <div class="bucket" id="bucket_red" name="r"></div>
  <div class="bucket" id="bucket_blue" name="b"></div>
  <div class="bucket" id="bucket_purple" name="y"></div>
  <!-- cards -->
  <div class="bucket_cards" id="bucket_red_cards"></div>
  <div class="bucket_cards" id="bucket_blue_cards"></div>
  <div class="bucket_cards" id="bucket_purple_cards"></div>

  <!-- countdown -->
  <div id="player_self_pos_countdown" class="countdown"style="display: none;"></div>
  <div id="player_2_pos_countdown" class="countdown" style="display: none;"></div>
  <div id="player_3_pos_countdown" class="countdown" style="display: none;"></div>
  <div id="player_4_pos_countdown" class="countdown" style="display: none;"></div>
</div>




