<div id="game" style="display: block;">
  <div style="height: 50px;" id="coord">
  </div>
  <div id="hp_container" style="margin: 10px 0;">
    <div id="hp_bar" hp="7" style="width: 230px;height: 28px;background: url(/images/hp.png) no-repeat left top;">
    </div>
  </div>
  <div id="map" style="margin-bottom: 20px;cursor:move;">
    <img id="current_map" src="/images/map1.png" alt="map1" />
    <!--<img id="current_map" src="/images/map2.jpg" alt="map1" />-->
  </div>
  <div id="debug">
  </div>
  <div id="map_point" style="text-align:center;color: white;position: absolute;width: 100px;height: 20px;background: red;opacity: 0.6">
  </div>

  <!-- use -->
  <!-- follow mouse, static element -->
  <div id="bottle" style="cursor:move;position: absolute;display: none;width: 48px;height: 50px;">
    <img src="/images/bottle.png" alt="bottle, may be a missle, wusa~~" />
  </div>
  <div id="boom" style="cursor:move;position: absolute;display: none;width: 100px;">
    <img width="100px" src="/images/boom.png" alt="bottle, may be a missle, wusa~~" />
  </div>
  <!-- follow mouse, animations test -->
  <div id="animate" style="width: 144px;height: 102px;display: none;" frames="/images/fight01.png, /images/fight02.png, /images/fight03.png, /images/fight01.png, /images/fight02.png"></div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      //init data
      mapOffset.x = $(current_map_ele).offset().left;
      mapOffset.y = $(current_map_ele).offset().top;
      $('#coord').html(SNumber.number(0) + '<div style="color: #ddd;float:left;font-size: 30px;font-weight: bold;">, </div>' + SNumber.number(0))

      //
      //functions
      $(document).mousemove(function(e){
        $('#debug').html(e.pageX +', '+ e.pageY);
        bodyPoint.x = e.pageX;
        bodyPoint.y = e.pageY;
      })

      $("#map " + current_map_ele).mousemove(function(e){
        mapPoint.x = e.pageX - mapOffset.x;
        mapPoint.y = e.pageY - mapOffset.y;
        //$('#map_point').html(mapPoint.x +', '+ mapPoint.y).followMouse({offsetX: 60, offsetY: 25});
        $('#coord').html(SNumber.number(mapPoint.x) + '<div style="color: #ddd;float:left;font-size: 30px;font-weight: bold;">, </div>' + SNumber.number(mapPoint.y, true));
      })
      .click(function(e){
        //$('#boom').followMouse();
        $('#animate').followMouse().playAnimate({
          frequency: 160
        }, function(e){
          e.delayHide({
            timeout: 200
          })
        });
        $("#bomb_audio").jPlayer('play');
      })
    })
  </script>
<% end %>

<% content_for :audios do %>
  <div class="audio" id="bomb_audio"></div>
  <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){

      $("#bomb_audio").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "/audio/bang.mp3"
          });
        },
        preload: 'auto',
        solution: 'flash',//flash | html
        swfPath: "/javascripts",
        supplied: "mp3"
      });
    })
    //]]>
  </script>
<% end %>


