<div id="lobby" style="display: none;">
  <div class="lobby_left_notice">
  </div>
  <div class="lobby_right">
    <div id="lobby_list">
    </div>
  </div>
</div>

<div id="room" style="display: none;">
  <div class="lobby_left">
    <div class="lobby_left_menu">
      <button onclick="" class="member_btn"></button>
      <button onclick="" class="friends_btn"></button>
    </div>
    <div id="member_info_btn" class="lobby_left_content member_detail">
      <div id="member_info_inner">
        <p id="member_detail_name"></p>
        <p id="member_detail_sex"></p>
        <p id="member_detail_level"></p>
        <p id="member_detail_nature"></p>
        <p id="member_detail_arch"></p>
      </div>
    </div>
    <div id="friends_list_btn" class="lobby_left_content friends_list" style="display: none;">
      <div id="friends_list_inner">
        <div id="friends_list_inner_con">
        </div>
      </div>
      <div class="friend_list_scroll">
        <button class="friend_scroll_up"></button>
        <button class="friend_scroll_down"></button>
      </div>
    </div>
    <div class="select_role" id="lobby_role">
      <div id="lobby_role_right">
        <button class="select_role_btn"></button>
      </div>
      <div id="lobby_role_left">
        <div class="current_role"></div>
      </div>
    </div>
  </div>
  <div class="room_right">
    <button class="back_to_lobby goto_lobby back_to_lobby1"></button>
    <div id="room_list">
    </div>
    <div id="room_scroll">
      <button id="room_scroll_right" page="previous"></button>
      <button id="room_scroll_left" page="next"></button>
    </div>
    <button class="create_room create_room1"></button>
    <button class="quick_join quick_join1"></button>
  </div>
</div>

<div id="new_room" style="display: none;">
  <div id="new_room_inner">
    <input type="text" name="room_name" id="input_room_name" maxlength="15" />
    <button class="new_room_btn"></button>
    <button class="new_room_cancel_btn"></button>
  </div>
</div>